@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  margin: 0;
  height: 100%;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;

  background-color: #ffffff;
}

@layer components {
  .icon {
    @apply p-2 rounded-full bg-white/20 focus-visible:outline-none;
  }
  .active {
    @apply bg-white/40;
  }
}
